html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
  }

  
  .carousel-caption {
    bottom: 270px;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  #logo{
    color: #fff;
    font-size: 45px;
    font-family: 'Forum', cursive;
    font-weight: bold;
    letter-spacing: 3px;
  }

  #logo:hover{
    cursor:default;
  }

  
  
  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(255, 255, 255, 0.964);
  }

  .nav-link.active,.nav-link:focus{
    color: rgb(255, 255, 255);
  }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(211, 211, 211);
  } 
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  